* {
  margin: 0;
  padding: 0;
}
html {
  font: normal 24px Helvetica, Arial, sans-serif;
  background-color: pink;
}
body {
  margin-top: 50px;
}
.album {
  box-sizing: border-box;
  color: white;
  border: solid black;
  border-width: 0 20px 20px 20px;
  min-width: 500px;
  max-width: 1000px;
  text-align: center;
  margin: 0 30px 30px 30px;
  display: grid;
  justify-content: center;
  background-color: #333333;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  grid-template-areas:
    "heading heading heading heading"
    "main-pic main-pic main-pic main-pic"
    "gallery gallery gallery gallery";
}
header {
  grid-area: heading;
  margin-top: 50px;
}
.main-pic {
  grid-area: main-pic;
  text-align: center;
  box-sizing: border-box;
  margin: 20px;
}
.big-pic img {
  border: 10px solid white;
  box-sizing: border-box;
  width: 100%;
}
.gallery {
  grid-area: gallery;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  box-sizing: border-box;
}
.gallery figure {
  flex-basis: 25%;
  box-sizing: border-box;
  margin: 10px;
}
figcaption {
  font-size: 12px;
  text-align: left;
}
.small-pic img {
  width: 100%;
  border: 3px solid white;
  box-sizing: border-box;
}
