
/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html {
	font-size: 28px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}
body {
	width: 654px;
	border: 1px solid black;
	margin: 3px;
	padding: 3px;
	font-family: "Helvetica Black", Helvetica, Arial, sans-serif;
	}
table {
	width: 100%;
	border-collapse: collapse;
	line-height: 1.2rem;
	}

.indent {
	border-bottom: 1rem solid white;
	width: 1rem;
}
header  {
	border-bottom: 1rem solid black;
}
thead {
	border-bottom: .5rem solid black;
}
tr {
	border-bottom: 1px solid black;
	padding: 0;
	margin: 0;
}
h1 {
	font-family: "Franklin Gothic Heavy", Arial, sans-serif;
	font-size: 2rem;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

th {
	font-weight: normal;
	padding: 0;
	margin: 0;
}

td {
	padding: 0;
	margin: 0;
}

.right-justify {
	text-align: right;
}

tbody {
	border-bottom: .6rem solid black;
}
