
/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* End of reset  */

html {
	font-size: 28px;
	box-sizing: border-box;
	}
body {
	width: 654px;
	border: 2px solid black;
	margin: 6px;
	padding: .5rem;
	font-family: Helvetica, Arial, sans-serif;
	}
header {
	border-bottom: 1rem solid black;
}
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2rem;
	margin: 4px 0;
	font-weight: bold;
}
aside p {
	padding: .5rem;
	font-size: .89rem;
	line-height: 1.1rem;
	text-indent: -.7rem;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
ol {
	padding: 4px 0;
}
li {
	padding: 2px;
}
table {
	width: 100%;
	line-height: 1.2rem;
	}
table:first-of-type td:last-child {
	text-align: right;
}
table:last-of-type {
	font-size: .8rem;
}
table:first-of-type tbody {
	border-top: .5rem solid black;
}
table:last-of-type thead {
	border-bottom: 1px solid black;
	text-align: left;
}
table:first-of-type td {
	border-top: 1px solid black;
}
table td.indent {
	border-top: none;
	width: 1rem;
}
table:first-of-type thead tr {
	line-height: 1.6rem;
}
table:first-of-type tr:last-child td {
	border-bottom: 1px solid black;
}
table:first-of-type tfoot {
	border-top: .78rem solid black;
}
